fastapi
uvicorn

langgraph
langchain
langchain-anthropic

anthropic

python-dotenv

pydantic

pypdf
langchain-text-splitters

python-multipart

voyageai
langchain-voyageai

qdrant-client

langchain

langsmith

pymongo[srv]

argon2-cffi
passlib
PyJWT

python-josep